h1{
    margin: 20px auto;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.headerSection{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    width: 80%;
}

.searchContainer{
    order: -1;
    border-radius: 15px;
    width: 70%;
}

.authContainer{
    margin-left: 20px;
}