h1{
    margin: 20px auto;
}

.container{
    display: flex;
    flex-direction: column;
}

.searchContainer{
    margin: 10px auto;
    border: 1px solid #727272;
    background-color: rgb(44, 44, 44);
    border-radius: 15px;
    width: 50%;
    padding: 20px;
}
.trackContainer{
    margin: 10px auto;
    border: 1px solid #727272;
    background-color: rgb(44, 44, 44);
    border-radius: 15px;
    width: 50%;
    padding: 20px;
}

.authContainer{
    margin: 10px auto;
}