.container{
    margin: 20px;
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
    padding: 0;
}
.input {
    height: 100vh;
    background: lightpink;
    font-size: 2rem;
    text-align: center;
  }
  
.label {
    padding: 2rem;
}